{#{% extends 'base.html.twig' %}#}
{#{% block header %}#}
    <h1>{{ gift.child.firstname }} -  {{ gift.child.lastname }} </h1>

{#{% endblock %}#}
 {% block body %}
     <h1>{% if gift != null %}
{{ gift.name }}
{% else %}
    Vide
{% endif %}</h1>
     <div class="form-group">
         <label for="catégorie">Catégorie</label>
         <select name="catégorie" id="catégorie" class="form-control">

             {% for category in categories %}

                     <option value="category"> {{ category.id }} : {{ category.name }}</option>

             {% endfor %}
         </select>
     </div>
     <div class="buttonsubmit">
     <button type="submit" class="btn btn-primary">Submit</button>
     </div>
     <hr>

<section class="faisability">
    <h1>Faisabilité</h1>
         <div class="Liste des cadeaux">
             {% for gift in gifts %}
             <ol>
                 <li>{{ gift.name }} - {{ gift.feasibility }} %
                 </li>
             </ol>
             {% endfor %}
         </div>

</section>


     </div>
 {% endblock %}

