{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div>
            {% if children is defined %}
                <p>Liste des enfants</p>
                {%  for child in children %}
                    <a class="lienV" href="listeCadeaux?id={{ child.id }}">{{ child.firstname }}</a>
                    <br/>
                {% endfor %}
            {% endif %}

            {% if gifts is defined %}
                <p>Liste de cadeau de {{ child.firstname  }} {{ child.lastname  }}</p>
                {%  for gift in gifts %}
                    {{ gift.name }} - {{ gift.feasibility }}
                    <br/>
                {% endfor %}
                <p><a href="liste" class="lienV">Revenir à la liste des enfants</a></p>
            {% endif %}
            <p><a href="traitement" class="lienV">Revenir au traitement des cadeaux</a></p>
        </div>
    </div>
</div>

{% endblock %}